
<form [formGroup]="scanForm" (ngSubmit)="onSubmit()">
  <div class="space-y-4">
    <p class="text-sm text-gray-600 dark:text-gray-400">
      Especifique o intervalo de endereços IP para buscar impressoras na sua rede.
    </p>
    <div>
      <label for="startIp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IP Inicial</label>
      <input type="text" id="startIp" formControlName="startIp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
    </div>
     <div>
      <label for="endIp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IP Final</label>
      <input type="text" id="endIp" formControlName="endIp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
    </div>
     <div>
      <label for="subnet" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Máscara de Sub-rede</label>
      <input type="text" id="subnet" formControlName="subnet" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
    </div>
  </div>
   <div class="flex justify-end pt-6 space-x-2">
    <button type="button" (click)="onCancel()" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
      Cancelar
    </button>
    <button type="submit" [disabled]="scanForm.invalid || isScanning()" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 disabled:bg-primary-400 disabled:cursor-not-allowed dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center">
        @if (isScanning()) {
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Buscando...
        } @else {
           <span>Scan</span>
        }
    </button>
  </div>
</form>
